{
  "extends" : [
    "@lukemorales"
  ],
  "rules" : {
    "no-console" : "off",
    "react/destructuring-assignment": "off",
    "radar/prefer-immediate-return": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "react/self-closing-comp": "off",
    "arrow-body-style": "off"
  }
}
